.details-wrapper {
  margin-left: 5%;
}

.details-wrapper > * {
  margin-top: 7%;
}

.read-time {
  display: flex;
}

.read-time > * {
  padding-right: 5px;
  text-align: center;
}

.more-icon-wrapper > * {
  float: right;
  height: 5px;
  margin-right: 5%;
}
